<!DOCTYPE html>
<html lang="pt_br" >
  <head>
    <title>Garantia Aluguel</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='assets/fontes/fonte.css'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        .alert{
          padding: 10px !important;
          margin-bottom: 0px !important;
        }
    </style>

  </head>

  <body ng-app="app" ng-controller="MainController" ng-cloak>
    <header>
    <div class="container principal-bannerWrapper">
      <div class="principal-banner">

      <!-- renderiza uma borda sobre os icones -->
      <div id="borda-icones"></div>

        <div layout="row" layout-align="center center">
          <div flex="40" flex-xs = "50" style="text-align: center;">
         <h1 class="md-display-2 impact"><strong>SEU</strong> aluguel de forma <strong>FÁCIL</strong> e descomplicada</h1>
       </div>
        </div>

        <div layout="row" layout-align="space-between center">
            <div flex="50" style="text-align: center;">
              <a ng-click="goTo('tituloCaptalizacao')" role="button">
                <img src="./assets/img/padlock.png" class="icon10">
              </a>
                <p class="tam-3 neoSansMedium"> título de capitalização</p>
            </div>
            <div flex="50" style="text-align: center;">
              <a ng-click="goTo('seguroFianca')" role="button">
                <img src="./assets/img/key.png" class="icon10">
              </a>
                <p class="tam-3 neoSansMedium"> seguro fiança</p>
            </div>
        </div>
     

    </div>
  </div>
    </header>

    <!-- Sessão pra que fiador -->
    <section id="praQueFiador">
      <div data-ng-include="'./src/view/praQueFiador.html'"></div>    
    </section>

    <!-- Sessão titulo captalização -->
    <section id="tituloCaptalizacao">
      <div data-ng-include="'./src/view/tituloCaptalizacao.html'"></div>     
    </section>

    <!-- Sessão seguro fiança -->
    <section id="seguroFianca">
      <div data-ng-include="'./src/view/seguroFianca.html'"></div>
    </section>

    <!-- Sessão alugue em 3 passos -->
    <section id="alugueEm3Passos">
      <div data-ng-include="'./src/view/alugueEm3Passos.html'"></div>    
    </section>

      <!-- Botão ir para o topo -->
      <md-button class="md-fab btn-go-top" aria-label="ir para topo" ng-click="gotoTop()">
            <md-icon md-svg-src="./assets/svg/ic_arrow_up_24px.svg"></md-icon>
      </md-button>
  
    <footer>
      <div layout="row" layout-align="center center" layout-padding>
        <img src="./assets/img/logo-rodape.png">
      </div>
    </footer>
    

    <!-- Bibliotecas Angular-Material -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>

    <!-- Bibliotecas Jquery + Boostrap -->
    <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="./src/app.js"></script>
    <script src="./src/service/ServiceUtil.js"></script>
    <script src="./src/main/MainController.js"></script>
    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider){                                    
                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });  

    </script> 

  </body>
</html>
