<div layout="row" layout-align="center center" layout-padding>
    <h1 class="md-display-3 impact" style="text-align: center;">
              <u>Alugue em apenas 3 passos!</u>
    </h1>
</div>
<div layout="row" layout-align="center center" layout-padding>
    <!-- Btn01 -->
    <div flex="30" flex-xs="100">
        <img src="./assets/img/btn01.png" class="img-responsive">
    </div>
    <!-- Btn02 -->
    <div flex="30" flex-xs="100">
        <img src="./assets/img/btn02.png" class="img-responsive">
    </div>
    <!-- Btn03 -->
    <div flex="30" flex-xs="100">
        <img src="./assets/img/btn03.png" class="img-responsive">
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding>
    <div flex="60" flex-xs="100">
        <p class="tam-3 text-center impact">Sua locação muito mais fácil e sem burocracia. Você precisa apenas escolher o imóvel, enviar seus documentos para análise de cadastro e assinar seu contrato de aluguel. E o melhor de tudo, sem pedir favor a ninguém e com toda garantia e segurança.</p>
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding>
    <img src="./assets/img/btnEnviarDocs.png" id="btnEnviar" class="img-responsive">
</div>