<div layout="row" layout-align="center center" layout-padding>
    <div flex-gt-sm="70">
        <div class="md-display-3 titulo-pagina">Aluguem em 3 passos!</div>
   </div> 
</div>
<div class="descricao" layout="row" layout-align="center center" layout-padding>
    <!-- Btn01 -->
    <div flex-gt-sm="20">
        <img src="./assets/img/btn01.png" class="img-responsive">
    </div>
    <!-- Btn02 -->
    <div flex-gt-sm="20">
        <img src="./assets/img/btn02.png" class="img-responsive">
    </div>
    <!-- Btn03 -->
    <div flex-gt-sm="20">
        <img src="./assets/img/btn03.png" class="img-responsive">
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding>
    <div flex-gt-sm="70"><strong>
        <p class="tam-3 descricao">Sua locação muito mais fácil e sem burocracia. Você precisa apenas escolher o imóvel, enviar seus documentos para análise de cadastro e assinar seu contrato de aluguel. E o melhor de tudo, sem pedir favor a ninguém e com toda garantia e segurança.</strong></p>
    </div>
</div>
<div layout="row" layout-align="center center" layout-padding>
    <img src="./assets/img/btnEnviarDocs.png" id="btnEnviar" class="img-responsive">
</div>