<div layout="row" layout-align="center center">

    <div flex-gt-sm="50" layout-padding>
        <h1 class="md-display-3 titulo-pagina">Pra que fiador?</h1>
        <p class="tam-3" style="text-align: justify;"><strong>Imagine alugar um imóvel sem pedir para ninguém ser seu fiador? A Maximiza Corretora de Seguros tem a solução ideal para você que deseja alugar sem precisar de fiadores, com muita agilidade e pouca burocracia, onde você irá se preocupar somente com a sua mudança!</strong></p>

        <hr class="hr-style" />
    </div>


</div>
