<div layout="row" layout-xs="column">
    <div flex="15" flex-xs="100">
        <img src="./assets/img/fiador_nunca.png" id="imgFiadorNunca">
    </div>
    <div flex="5" hide-xs style="padding-top: 10%">
        <img src="./assets/img/logo.png" class="img-responsive">
    </div>
    <div flex="60" flex-xs="100" layout-padding>
        <h1 class="md-display-3 impact" style="text-align: center;"><u>Pra que fiador?</u></h1>
        <p class="tam-3 impact" style="text-align: center;">Imagine alugar um imóvel sem pedir para ninguém ser seu fiador? A Maximiza Corretora de Seguros tem a solução ideal para você que deseja alugar sem precisar de fiadores, com muita agilidade e pouca burocracia, onde você irá se preocupar somente com a sua mudança!</p>
    </div>
    <div flex="10" hide-xs style="padding-top: 7%">
        <img src="./assets/img/logo.png" class="img-responsive">
    </div>
</div>
<div class="container">
    <div layout="row" layout-align="center center">
        <div flex="50" style="text-align: center;">
        <a ng-click="goTo('tituloCaptalizacao')" role="button">
            <img src="./assets/img/padlock.png" class="icon5">
        </a>
            <p class="tam-3 neoSansMedium"> título de capitalização</p>
        </div>
        <div flex="50" style="text-align: center;">
         <a ng-click="goTo('seguroFianca')" role="button">
            <img src="./assets/img/key.png" class="icon5">
        </a>
            <p class="tam-3 neoSansMedium"> seguro fiança</p>
        </div>
    </div>
</div>