/************* Estilos Padrão do Angular Material********************/
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff !important;
}

#img-principal{
  position: absolute;
  left: 11.7%;
  width: 70%
}


footer {
  background-color: #133454;
}


.hr-style{
  border: none !important;
  padding: 2px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(29, 28, 28, 0.75), rgba(0, 0, 0, 0));
  margin-top: 40px;
  margin-bottom: 65px;
}

h1 strong{
  font-size: 55px;
  font-weight: 500;
}

.nav>li>a {
    background: #EEEEEE;
    color: #686367; 
}

.nav-pills>li>a {
  border-top-right-radius: 2em !important;
}


.glyphicon{
  padding-right: 16px;
}



.fundo-pagina{
  background: #f7f7f7; /* For browsers that do not support gradients */
}

.fundo-pagina-esquerda{
  background: #f7f7f7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to right, #848484 , #f7f7f7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #848484 , #f7f7f7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #848484 , #f7f7f7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #848484 , #f7f7f7);
}

.fundo-pagina-direita{
  background: #f7f7f7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to left, #848484 , #f7f7f7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left, #848484 , #f7f7f7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left, #848484 , #f7f7f7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, #848484 , #f7f7f7);
}

.img-locacao{
  max-width: 80%
}


.titulo-pagina{
  color: #17c9ff !important;
  font-weight: bold;
  text-align: left;
}

.tam-2{
  font-size: 44px;
  margin-top: 20px;
  margin-bottom: 10px;
} 

.tam-3{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.descricao{
  text-align: left;
}

.list-item{
  color: #2B4459;
  font-weight: bold;
}

/*para dispositivos com resolução até 1280px*/
@media(max-width: 1200px) {
  #img-principal{
  left: 0% !important;
  width: 100% !important
}

  h1 strong{
    font-size: 40px;
    font-weight: 500;
  }

  .descricao{
     margin-left: 75px;
  }

  .titulo-pagina{
    margin-left: 75px;
    margin-top: -5%;
  }

  .md-display-3 {
      font-size: 40px;
      /*font-weight: 400;*/
      line-height: 45px;
  }

  .icon-house{
    width: 25% !important;
    left: 2% !important;
  }

   #icon-house-1{
    top: 15%;
  }


  .barra-lateral{
    margin-left: 15px;
  }
   

}

/*para dispositivos com resolução até 500px*/
@media(max-width: 500px) {

   #img-principal{
    left: 0% !important;
    width: 100% !important
  }

  .img-locacao{
    max-width: 100%;
  }

  #btnEnviar{
    max-width: 50%;
  }

  .md-display-3 {
      font-size: 34px;
      /*font-weight: 400;*/
      line-height: 45px;
  }


  .tam-3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-item{
    margin-left: 15px;
  }

  .descricao{
     margin-left: 20px;
  }

  .titulo-pagina{
    margin-left: 20px;
    margin-top: -5%;
  }

  #icon-house-1{
    top: 15%;
  }

  .icon-house{
    width: 25% !important;
    left: 2% !important;
  }

  .barra-lateral{
    margin-left: 6px;
  }

  #praQueFiador{
    margin-top: 115% !important;
  }
 

}

#praQueFiador{
  margin-top: 105%
}

#icon-house-1{
  margin-top: 68%;
}

.icon-house{
  position: absolute !important;
  left: 15%;
  width: 15%;
}


/*----------Back to Top Button -----------*/

.btn-go-top {
   display: none;
   position: fixed;
   bottom: .5em;
   right: .5em;
   padding: .5em;
   background-color: rgb(125, 137, 202) !important;
}

/*****Efeitos de transição de tela*******/
.animate-if {
  background:white;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

/*********Estilos de Fonts*********/
.neoSansMedium{
  font-family: 'NeoSansStd-Medium';
}

.neoSansUltra{
  font-family: 'NeoSansStd-Ultra';
}

.neoSansRegular{
  font-family: 'NeoSansStd-Regular';
}

.impact{
  font-family: 'impact';
}